# SPDX-License-Identifier: CC0-1.0

root=true

[*.{css,html,json,md,sh,svg,txt,vcf,vtt,yml},.{editorconfig,git{attributes,config,ignore},htaccess,shellcheckrc}]
insert_final_newline=true
indent_style=space
charset=utf-8

[*.{css,html,json,md,sh,svg,txt,vtt,yml},.{editorconfig,git{attributes,config,ignore},htaccess,shellcheckrc}]
end_of_line=lf

[*.{css,html,json,md,sh,svg,txt,yml},.{editorconfig,git{attributes,config,ignore},htaccess,shellcheckrc}]
indent_size=2

[*.{vcf,vtt}]
indent_size=0

[*.vcf]
end_of_line=crlf
