# gabl.ink/.gitattributes
# SPDX-License-Identifier: CC0-1.0

# This file is part of gabl.ink. https://gabl.ink/
# © 2024 gabl.ink. No rights reserved. United States of America.

.gitattributes text eol=lf
*.html text eol=lf
*.json text eol=lf
*.md text eol=lf
*.sh text eol=lf
*.txt text eol=lf
*.yml text eol=lf
