# SPDX-License-Identifier: CC0-1.0
# ================= wrap lines at 72 printed characters ================

#*.bat text eol=crlf linguist-language=Batchfile
*.css  text eol=lf linguist-language=CSS
*.gitattributes text eol=lf linguist-language=Git-Attributes
*.htaccess text eol=lf linguist-language=ApacheConf
*.html text eol=lf linguist-language=HTML
*.json text eol=lf linguist-language=JSON
*.md   text eol=lf linguist-language=Markdown
*.sh   text eol=lf linguist-language=Shell
*.txt  text eol=lf linguist-language=Text
*.yml  text eol=lf linguist-language=YAML

#*.jpg binary
*.png binary
*.mp4 binary
#*.webm binary
