# SPDX-License-Identifier: CC0-1.0

AddType text/plain         .gitattributes
AddType text/plain         .htaccess
AddType text/html          .html
AddType application/json   .json
AddType text/markdown      .md
AddType video/mp4          .mp4
AddType image/png          .png
AddType text/x-shellscript .sh
AddType text/plain         .txt
AddType application/yaml   .yml

Header add X-UA-Compatible "IE=edge,chrome=1"
