@charset "UTF-8";
/* SPDX-License-Identifier: CC0-1.0 */
@namespace xml url(http://www.w3.org/1999/xhtml);

 html {
  counter-reset:nav_bottom_list_page;
}
 div#nav_bottom_list details {
  white-space:nowrap;
}
 div#nav_bottom_list details details {
  text-indent:1em;
}
 div#nav_bottom_list details details details {
  text-indent:2em;
}
 details#nav_bottom_list_root summary cite::before {
  content:open-quote;
}
 details#nav_bottom_list_root summary cite::after {
  content:close-quote;
}
 details#nav_bottom_list_volume summary cite::before {
  content:none;
}
 details#nav_bottom_list_volume summary cite::before {
  content:none;
}
 details#nav_bottom_list_volume summary cite {
  font-style:italic;
}
 details#nav_bottom_list_chapter summary cite {
  font-style:unset;
}
 details#nav_bottom_list_chapter summary cite::before {
  content:open-quote;
}
 details#nav_bottom_list_chapter summary cite::after {
  content:close-quote;
}
 ol#nav_bottom_list_pages {
  list-style:none;
}
 ol#nav_bottom_list_pages li::before {
  white-space:nowrap;
  counter-increment:nav_bottom_list_page;
  content:"page " counter(nav_bottom_list_page) " – ";
}
 ol#nav_bottom_list_pages li cite::before {
  content:open-quote;
}
 ol#nav_bottom_list_pages li cite::after {
  content:close-quote;
}
