@charset "UTF-8";
/* SPDX-License-Identifier: CC0-1.0 */
@namespace xml url(http://www.w3.org/1999/xhtml);

html {
  /*
  counter-reset: nav_bottom_list_episode;
  counter-reset: nav_bottom_list_chapter;
  */
  counter-reset: nav_bottom_list_page;
}

main {
  margin: 0% 15%;
}

picture#gabldotink_logo {
  top: 0;
  left: 0;
}

picture#gabldotink_logo img {
  width: 20%;
}

picture.nav_buttons_off {
  opacity: 10%;
}

div#nav_top_buttons,
div#nav_bottom_buttons {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

/*
div#nav_top_title {
  margin: 0;
}
*/

img.nav_buttons {
  width: 25%;
  max-width: 25%;
  display: block;
}

div#nav_top_title {
  text-align: center;
}

div#comic_page_single_image picture img {
  width: 100%;
  max-width: 100%;
}

div#nav_bottom_list details {
  white-space: nowrap;
}

div#nav_bottom_list details details {
  text-indent: 1em;
}

div#nav_bottom_list details details details {
  text-indent: 2em;
}

/*
details#nav_bottom_list_root summary cite::before {
  content: open-quote;
}

details#nav_bottom_list_root summary cite::after {
  content: close-quote;
}

details#nav_bottom_list_episode summary cite::before {
  content: none;
}

details#nav_bottom_list_episode summary cite::after {
  content: none;
}

details#nav_bottom_list_episode summary cite {
  font-style: italic;
}

details#nav_bottom_list_chapter summary cite {
  font-style: unset;
}

details#nav_bottom_list_chapter summary cite::before {
  content: open-quote;
}

details#nav_bottom_list_chapter summary cite::after {
  content: close-quote;
}
*/

/*
ol#nav_bottom_list_episodes,
ol#nav_bottom_list_chapters,
ol#nav_bottom_list_pages {
  list-style: none;
  text-indent: 0em;
}
*/

ol#nav_bottom_list_pages {
  list-style: none;
}

/*
ol#nav_bottom_list_episodes li::before {
  white-space: nowrap;
  counter-increment: nav_bottom_list_episode;
  content: "episode " counter(nav_bottom_list_episode) " ";
}

ol#nav_bottom_list_chapters li::before {
  white-space: nowrap;
  counter-increment: nav_bottom_list_chapter;
  content: "chapter " counter(nav_bottom_list_chapter) " ";
}
*/

ol#nav_bottom_list_pages li::before {
  white-space: nowrap;
  counter-increment: nav_bottom_list_page;
  content: "page " counter(nav_bottom_list_page) " ";
}

/*
ol#nav_bottom_list_pages li cite::before {
  content: open-quote;
}

ol#nav_bottom_list_pages li cite::after {
  content: close-quote;
}
*/

div#transcript_text {
  margin-left: 1em;
}

details#share_links ul {
  list-style-type: none;
}