@charset "UTF-8";
/* SPDX-License-Identifier: CC0-1.0 */
@namespace xml url(http://www.w3.org/1999/xhtml);

 abbr {
  all:unset;
}
 cite {
  all:unset;
}
[lang|="en" i],[xml|lang|="en" i] {
  quotes:"“""”""‘""’";
}
.bold,.b {
  font-weight:bold;
}
.bulleted {
  list-style-type:disc;
}
.display_none,.n {
  display:none;
}
.double_quote::before,.dq::before {
  content:"“";
}
.double_quote::after,.dq::after {
  content:"”";
}
.italic,.i {
  font-style:italic;
}
.lowsercase {
  text-transform:lowercase;
}
.none,.n {
  all:unset;
}
.no_wrap {
  white-space:nowrap;
}
.overline {
  text-decoration-line:overline;
}
.quote::before,.q::before {
  content:open-quote;
}
.quote::after,.q::after {
  content:close-quote;
}
.roman {
  font-style:normal;
}
.small_capitals {
  font-variant:small-caps;
}
.single_quote::before,.sq::before {
  content:"‘";
}
.single_quote::after,.sq::after {
  content:"’";
}
.start_case {
  text-transform:capitalize;
}
.strikethrough {
  text-decoration-line:line-through;
}
.underline,.u {
  text-decoration-line:underline;
}
.uppercase {
  text-transform:uppercase;
}
