@charset "UTF-8";
/* SPDX-License-Identifier: CC0-1.0 */

abbr {
  all: unset;
}

cite {
  all: unset;
}

[lang|="en" i] {
  quotes: "“" "”" "‘" "’";
}

.bold,
.b {
  font-weight: bold;
}

.bulleted {
  list-style-type: disc;
}

.italic,
.i {
  font-style: italic;
}

.lowsercase {
  text-transform: lowercase;
}

.not_displayed,
.nd {
  display: none;
}

.not_wrapped,
.nw {
  white-space: nowrap;
}

.overlined {
  text-decoration-line: overline;
}

.roman {
  font-style: normal;
}

.small_capitalized {
  font-variant: small-caps;
}

.spaced_right {
  padding-left: 0.1em
}

.start_case {
  text-transform: capitalize;
}

.struckthrough {
  text-decoration-line: line-through;
}

.underlined,
.u {
  text-decoration-line: underline;
}

.unset,
.n {
  all: unset;
}

.uppercase {
  text-transform: uppercase;
}
