@charset "UTF-8";
/* SPDX-License-Identifier: CC0-1.0 */

  q {
  quotes:"“" "”" "‘" "’";
}
.bd {
  font-weight:bold;
}
.bl {
  list-style-type:disc;
}
.dg::before {
  content:"« ";
}
.dg::after {
  content:" »";
}
.dq::before {
  content:"“";
}
.dq::after {
  content:"”";
}
.it {
  font-style:italic;
}
.no {
  font:inherit;
}
.nw {
  white-space:nowrap;
}
.ol {
  text-decoration-line:overline;
}
.sg::before {
  content:"‹ ";
}
.sg::after {
  content:" ›";
}
.sq::before {
  content:"‘";
}
.sq::after {
  content:"’";
}
.st {
  text-decoration-line:line-through;
}
.ul {
  text-decoration-line:underline;
}
