@charset "UTF-8";
/* SPDX-License-Identifier: CC0-1.0 */
@namespace xml url(http://www.w3.org/1999/xhtml);

html {
  counter-reset: nav_bottom_list_page;
}

main {
  margin: 0% 15%;
}

picture#gabldotink_logo {
  top: 0;
  left: 0;
}

picture#gabldotink_logo img {
  width: 20%;
}

.nav_buttons_off {
  opacity: 10%;
}

div#nav_top_buttons,
div#nav_bottom_buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}

div.nav_button {
  text-align: center;
  font-size: xx-large;
  width: 5em;
}

div.nav_button p {
  color: gray;
}

div.nav_button a {
  text-decoration-line: none;
}

div.nav_button a p {
  color: inherit;
}

/*
div.nav_button picture img {
  width: 100%;
  max-width: 100%;
}
*/

div.nav_button p {
  text-align: center;
}

a .nav_button_arrow {
  text-decoration-line: none;
}

p.nav_buttons {
  width: 25%;
  max-width: 25%;
  display: block;
}

h1#nav_top_title {
  text-align: center;
}

div#comic_page_video video,
div#comic_page_image picture img {
  width: 100%;
  max-width: 100%;
}

div#nav_bottom_list details {
  white-space: nowrap;
}

ol#nav_bottom_list_pages {
  list-style: none;
}

ol#nav_bottom_list_pages li::before {
  white-space: nowrap;
  counter-increment: nav_bottom_list_page;
  content: "page " counter(nav_bottom_list_page) " ";
}

div#transcript_text {
  margin-left: 1em;
}

details#share_links ul {
  list-style-type: none;
}

table#comic_transcript_table {
  border: none;
  margin-left: 1em;
}

table#comic_transcript_table thead {
  display: none;
}

table#comic_transcript_table th {
  text-align: left;
  vertical-align: top;
  padding-right: 1em;
  font-weight: normal;
}

table#comic_transcript_table th::before {
  content: "[";
}

table#comic_transcript_table th::after {
  content: "]";
}

table#comic_transcript_table th:empty::before {
  content: "—";
}

table#comic_transcript_table th:empty::after {
  content: "";
}

table#comic_trascript_table td {
  text-align: left;
  vertical-align: top;
}

table#comic_transcript_table p {
  margin-top: 0em;
}
