@charset "UTF-8";
/* SPDX-License-Identifier: CC0-1.0 */
@namespace xml url(http://www.w3.org/1999/xhtml);

html {
  counter-reset: nav_bottom_list_page;
}

#panels {
  margin: 0% 15%;
}

#gabldotink_logo {
  top: 0;
  left: 0;
}

#gabldotink_logo img {
  width: 20%;
}

#lang_select {
  float: right;
  list-style-type: none;
}

#lang_select li::before {
  content: attr(data-lang_select_flag) "\a0";
}

.nav_buttons_off {
  opacity: 10%;
}

#nav_top_buttons,
#nav_bottom_buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

div.nav_button {
  text-align: center;
  font-size: xx-large;
  width: 5em;
}

div.nav_button p {
  color: gray;
}

div.nav_button a {
  text-decoration-line: none;
}

div.nav_button a p {
  color: inherit;
}

/*
div.nav_button picture img {
  width: 100%;
  max-width: 100%;
}
*/

div.nav_button p {
  text-align: center;
}

a .nav_button_arrow {
  text-decoration-line: none;
}

p.nav_buttons {
  width: 25%;
  max-width: 25%;
  display: block;
}

#nav_top_title {
  text-align: center;
}

#comic_page_video video,
#comic_page_image picture img {
  width: 100%;
  max-width: 100%;
}

#nav_bottom_list details {
  white-space: nowrap;
}

#nav_bottom_list_pages {
  list-style: none;
}

#nav_bottom_list_pages li::before {
  white-space: nowrap;
  counter-increment: nav_bottom_list_page;
}

#nav_bottom_list_pages li:lang(en)::before,
#nav_bottom_list_pages li:lang(fr)::before {
  content: "page\a0" counter(nav_bottom_list_page) " ";
}

#transcript_text {
  margin-left: 1em;
}

#share_links ul,
#validate_links ul {
  list-style-type: none;
}

#comic_transcript_table {
  border: none;
  margin-left: 1em;
}

#comic_transcript_table thead {
  display: none;
}

#comic_transcript_table th {
  text-align: left;
  vertical-align: top;
  padding-right: .3em;
  padding-left: .5em;
  text-indent: -.5em;
  font-weight: normal;
}

#comic_transcript_table th::before {
  content: "[";
}

#comic_transcript_table th::after {
  content: "]";
}

#comic_transcript_table th:empty::before {
  content: "—";
}

#comic_transcript_table th:empty::after {
  content: "";
}

#comic_trascript_table td {
  text-align: left;
  vertical-align: top;
}

#comic_transcript_table p {
  margin-top: 0;
}

summary h2,
summary h3 {
  display: inline;
}

@media (max-width: 992px) {
  #panels {
    margin: 0%
  }
}
