@charset "UTF-8";
/* SPDX-License-Identifier: CC0-1.0 */

:lang(en-GB),
:lang(fr-CA) {
  display: none;
}

abbr {
  all: unset;
}

body,
::cue {
  font-family: "Noto Serif", serif;
}

cite {
  all: unset;
}

code {
  font-family: "Noto Sans Mono", monospace;
}

.b {
  font-weight: bold;
}

.i {
  font-style: italic;
}

.m {
  font-family: "Noto Sans Mono", monospace;
}

.nw {
  white-space: nowrap;
}

.r {
  font-style: normal;
}

.u {
  text-decoration-line: underline;
}
