@charset "UTF-8";
/* SPDX-License-Identifier: CC0-1.0 */
/* =============== wrap lines at 72 printed characters ============== */

  b {
  font-weight:bold;
}
 cite {
  font-style:inherit;
}
 em {
  font-style:italic;
}
  i {
  font-style:italic;
}
 strong {
  font-weight:bold;
  text-decoration-line:inherit;
}
[lang|="en"],[xml:lang|="en"] {
  quotes:"“""”""‘""’";
}
.bold,.b {
  font-weight:bold;
}
.bulleted {
  list-style-type:disc;
}
.display_none {
  display:none;
}
.double_guillermet::before {
  content:"« ";
}
.double_guillermet::after {
  content:" »";
}
.double_quote::before {
  content:"“";
}
.double_quote::after {
  content:"”";
}
.italic,.i {
  font-style:italic;
}
.lowsercase {
  text-transform:lowercase;
}
.none {
  font:inherit;
  text-decoration:inherit;
  text-transform:inherit;
}
.no_wrap {
  white-space:nowrap;
}
.overline {
  text-decoration-line:overline;
}
.roman {
  font-style:normal;
}
.small_capitals {
  font-variant:small-caps;
}
.single_guillermet::before {
  content:"‹ ";
}
.single_guillermet::after {
  content:" ›";
}
.single_quote::before {
  content:"‘";
}
.single_quote::after {
  content:"’";
}
.start_case {
  text-transform:capitalize;
}
.strikethrough {
  text-decoration-line:line-through;
}
.underline,.u {
  text-decoration-line:underline;
}
.uppercase {
  text-transform:uppercase;
}
