@charset "UTF-8"
/* SPDX-License-Identifier: CC0-1.0 */

  q {
  quotes:"“","”","‘","’";
}
.bl {
  list-style-type:disc; 
}
.dq::before {
  content:"“";
}
.dq::after {
  content:"”";
}
.it {
  font-style:italic; 
}
.nw {
  white-space:nowrap; 
}
.sq::before {
  content:"‘";
}
.sq::after {
  content:"’";
}
